* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
}

.container {
  min-height: 100vh;
  background-color: rgba(175, 47, 47, 0.15);
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.container__card {
  background-color: rgb(207, 175, 175);
  padding: 1rem;
  outline: 2px solid transparent;
  width: 700px;
}
/* як зробити його розміром з контент?? */

.todo__title {
  font-size: 40px;
  color: black;
}

.todo__footer {}

.input__container input {
  padding: 10px;
  width: 100%;
  border: none;
}
